[submodule "external/calvin"]
	path = external/calvin
	url = git@github.com:Erfi/calvin.git
	branch = gymnasium
[submodule "external/lumos"]
	path = external/lumos
	url = git@github.com:nematoli/lumos.git
	branch = torch2x
